body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#container {
  max-width: 800px;
  min-width: 300px;
  margin: 20px auto;
  border: 1px solid #000;
  padding: 20px;
}

div, input, ul, p {
  margin: 10px
}

input {
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border: 1px solid #000;
  font-size: 17px;
  outline: none;
}

ul {
  list-style-type: '* ';
}